.h1 {
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

.h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

.p{
    color: #4d4d4d;
    
}

p:first-of-type {

    font-weight: bold;
    color: yellow;
}

.a{
    color: #8a2be2;
    text-decoration: none;

}

.header{

    background-image:url(img/headerachtergrond.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

img{

   width: 50%;
}

article{

    border: #4d4d4d;
    border-radius: 15px;
    border-style: solid;
    border-left-width: thick;
    
}