.container{
height: 50px;
width: 1200px;
display: flex;
justify-content:space-between ;
border: 1px solid black ;

}

.logo {
    color: blue;
}

.home {
    color: blue;
}


.aboutme {
    color: blue;
}


.myprojects {
    color: blue;
}


.contact {
    color: blue;
}


.login {
    color: blue;
    display: flex;
    flex-direction: row-reverse;
}

.a {
    width: 25%;
}

